 .images{
     display: flex;
     justify-content: space-around;
 }
h4{
     text-align: center;
 }
#menu{
    padding-top: 30px;
}
#small{
    transform: translate(130px,-100px);
    font-size: large;
}
#medium{
    transform: translate(550px,-100px);
    font-size: x-large;
}
#large{
    transform: translate(950px,-100px);
    font-size: xx-large;
}