 .images{
     display: flex;
     justify-content: space-around;
 }
h4{
     text-align: center;
 }
#menu{
    padding-top: 30px;
}
#small{
    display: none;
    transform: translate(130px,-100px);
    font-size: large;
}
#medium{
    display: none;
    transform: translate(550px,-100px);
    font-size: x-large;
}
#large{
    display: none;
    transform: translate(950px,-100px);
    font-size: xx-large;
}

/* styling gallery */
h4{
    padding-top: 40px;
}
.galleryImg{
    display: flex;
    justify-content: space-around;
}
.span{
    display: flex;
    justify-content: space-around;
    font-size: x-large;
}

