 .images{
     display: flex;
     justify-content: space-around;
 }
h4{
     text-align: center;
 }
#menu{
    padding-top: 30px;
}
#small{
    display: none;
    transform: translate(130px,-100px);
    font-size: large;
}
#medium{
    display: none;
    transform: translate(550px,-100px);
    font-size: x-large;
}
#large{
    display: none;
    transform: translate(950px,-100px);
    font-size: xx-large;
}

/* styling gallery */
h4{
    padding-top: 40px;
}
.galleryImg{
    display: flex;
    justify-content: space-around;
}
.span{
    display: flex;
    justify-content: space-around;
    font-size: x-large;
}
/* Styling the forms */
.forms{
    text-align: center;
    background-color: #E4E3E9;
    height: 250px;
}
/* Contact Us */
#pizza{
    margin-left: 30px;
    margin-top: 30px;
    color:#B78B35 ;
    font-weight: 600;
    font-size: x-large;
    text-align: center;
}
